<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.TagsMapper">

    <select id="findByBlogId" resultType="tags">
        select t.*
        from bxy_blog.tags t,bxy_blog.blog_tag bt
        where t.id = bt.tag_id and bt.blog_id = #{blogId}
    </select>

    <select id="getBlogCountByTag" resultType="map">
        select t.id 'id',t.tag_title 'name',count(bt.tag_id) 'value'
        from bxy_blog.blog_tag bt,bxy_blog.tags t
        where t.id = bt.tag_id
        group by bt.tag_id
    </select>

</mapper>
