<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.BlogMapper">

    <resultMap id="blogMap" type="blog">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="summary" column="summary"></result>
        <result property="image" column="image"></result>
        <result property="contentMd" column="content_md"></result>
        <result property="contentHtml" column="content_html"></result>
        <result property="sortId" column="sort_id"></result>
        <result property="clickCount" column="click_count"></result>
        <result property="userId" column="user_id"></result>
        <result property="isTop" column="is_top"></result>
        <result property="isOriginal" column="is_original"></result>
        <result property="articlesPart" column="articles_part"></result>
        <result property="blogLevel" column="blog_level"></result>
        <result property="blogStatus" column="blog_status"></result>
        <result property="startComment" column="start_comment"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="commentCount" column="commentCount"></result>
        <collection property="user" ofType="User">
            <result property="userName" column="user_name" />
            <result property="id" column="userId" />
        </collection>
        <collection property="sort" ofType="Sort">
            <result property="id" column="sid" />
            <result property="sortTitle" column="sort_title" />
        </collection>
        <collection property="tags" ofType="Tags">
            <id property="id" column="tid"/>
            <result property="tagTitle" column="tag_title"/>
        </collection>
    </resultMap>

    <select id="getBlogByLevel" resultMap="blogMap">
        select bxy.*,count(d.id) 'commentCount'
        from
             (select b.*,u.user_name,u.id 'userId',s.sort_title,s.id 'sid'
                from bxy_blog.blog b,bxy_blog.user u,bxy_blog.sort s
                where b.user_id = u.id and b.sort_id = s.id
                and b.blog_level = #{level} and b.blog_status = 1 and b.is_top = 0
                ORDER BY create_time DESC) bxy
        left join bxy_blog.discuss d
        on bxy.id = d.blog_id
        group by bxy.id
    </select>

    <select id="getBlogByLevelAndPage" resultMap="blogMap">
        select bxy.*,count(d.id) 'commentCount'
        from
             (select b.*,u.user_name,u.id 'userId',s.sort_title,s.id 'sid'
                from bxy_blog.blog b,bxy_blog.user u,bxy_blog.sort s
                where b.user_id = u.id and b.sort_id = s.id
                and b.blog_level = #{level} and b.blog_status = 1 and b.is_top = 0
                ORDER BY create_time DESC) bxy
        left join bxy_blog.discuss d
        on bxy.id = d.blog_id
        group by bxy.id
    </select>

    <select id="getBlogByTop" resultMap="blogMap">
        select bxy.*,count(d.id) 'commentCount'
        from
             (select b.*,u.user_name,u.id 'userId',s.sort_title,s.id 'sid'
                from bxy_blog.blog b,bxy_blog.user u,bxy_blog.sort s
                where b.user_id = u.id and b.sort_id = s.id
                and b.blog_status = 1 and b.is_top = 1
                ORDER BY create_time DESC) bxy
        left join bxy_blog.discuss d
        on bxy.id = d.blog_id
        group by bxy.id
    </select>

    <select id="getBlogById" resultMap="blogMap">
        select bxy.*,count(d.id) 'commentCount'
        from
             (select b.*,u.user_name,u.id 'userId',s.sort_title,s.id 'sid'
                from bxy_blog.blog b,bxy_blog.user u,bxy_blog.sort s
                where b.user_id = u.id and b.sort_id = s.id
                and b.id = #{id}) bxy
        left join bxy_blog.discuss d
        on bxy.id = d.blog_id
        group by bxy.id
    </select>
</mapper>
